In [27]:
import pandas as pd
import numpy as np
import math

In [28]:
data = {
    'StudyHours': [2, 3, 4, 5, 6],
    'Marks': [40, 50, 65, 70, 85]
}

In [29]:
df = pd.DataFrame(data)
print(df)

   StudyHours  Marks
0           2     40
1           3     50
2           4     65
3           5     70
4           6     85

In [30]:
print(df['StudyHours'].dtype)
print(type(df['StudyHours']))

int64
<class 'pandas.core.series.Series'>

In [31]:
def mean(values):
    if len(values) == 0:
        return 0
    return sum(values) / len(values)

In [32]:
def variance(values):
    m = mean(values)
    return sum((x - m) ** 2 for x in values)/len(values)

In [33]:
print(variance(df['StudyHours']))

2.0

In [34]:
import math 
def std_dev(values):
    return math.sqrt(variance(values))

print("std dev of study hours", std_dev(df['StudyHours']))

std dev of study hours 1.4142135623730951

In [35]:
f_name = ['Bibash', 'Prabesh', 'Pratyush', 'Sanjay']
l_name = ['Karki', 'Gupta', 'Kayastha', 'Chaudhary']

In [36]:
full_name  = []

for i in range(len(f_name)):
    full_name.append(f_name[i]+ " " +l_name[i])
    
print (full_name)

['Bibash Karki', 'Prabesh Gupta', 'Pratyush Kayastha', 'Sanjay Chaudhary']

In [37]:
for x, y in zip(f_name, l_name):
    full_name = x + " " + y
    print(full_name)

Bibash Karki
Prabesh Gupta
Pratyush Kayastha
Sanjay Chaudhary

In [38]:
[x + " " + y  for x, y in zip(f_name, l_name)]

['Bibash Karki', 'Prabesh Gupta', 'Pratyush Kayastha', 'Sanjay Chaudhary']